
<div class="table-div">
    <p-table [value]="decoupages" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Ordem</th>
                <th>Entrevistado</th>
                <th>Assunto</th>
                <th>Timeline</th>
                <th>Tempo na Timeline</th>
                <th>Ação do Sentimento</th>
                <th>Sentimentos</th>
                <th>Nota</th>
                <th>Atos</th>
                <th>Observações Gerais</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-decoupage>
            <tr>
                <td>{{decoupage.$decoupageOrder}}</td>
                <td>{{decoupage.$interviewed}}</td>
                <td>{{decoupage.$subject}}</td>
                <td>{{decoupage.$timeline}}</td>
                <td>{{decoupage.$timeInTimeline}}</td>
                <td>{{decoupage.$sentimentActions}}</td>
                <td>{{decoupage.$sentiments}}</td>
                <td>{{decoupage.$grade}}</td>
                <td>{{decoupage.$actTime}}</td>
                <td>{{decoupage.$observation}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
